   
<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
           {{> header}}

    <h3>welcome {{name}} to home 1 </h3>
    <p>hola amigos</p>
    <button><a href="/">home</a></button>

    {{> footer}}

</body>

</html>