   
<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
           {{> header}}

    <h3>welcome {{name}} to home 1 </h3>
    <p>hola amigos</p>
    {{> footer}}

</body>

</html>