<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h2>sorry for the delay, the site is in progress for an update</h2>
    <h3>we would catch with you up later</h3>
</body>
</html>
